<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ipsam consequatur expedita ut distinctio cumque nesciunt, sunt consequuntur omnis officiis dolor, vitae temporibus dolorem corrupti suscipit! Aliquam, rerum magni. Ratione?
    </ion-card-content>

  </ion-card>
  
<ion-card>
  <img src="https://regmedia.co.uk/2019/09/18/shutterstock_code_bug.jpg" />
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nihil consequuntur odio temporibus natus reprehenderit sit eos, obcaecati facilis alias expedita sapiente quas asperiores hic, laborum cumque? Culpa, magni maiores.
  </ion-card-content>
</ion-card>


</ion-content>
